/* 400px / 16 = 25em */

@media (max-width: 25em) {
  .cards-section {
    max-width: 40em;
    padding: 0 1rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  .title-paragraph {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    font-size: 1.6rem;
  }

  .cards {
    flex-direction: column;
  }
}
